body{
    background-color: rgb(241, 238, 189);
    text-align: center;
}
.container{
    min-height: 100vh;
   display: grid;
   place-items: center;
   margin: 0;
}
.Logo{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: clamp(2rem, 1rem + 10vw, 7rem);
    color: darkolivegreen;
    margin: 0;
    line-height: .75;
}
.LogoBox:hover:before{
    content: "Enter";
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: clamp(2rem, 1rem + 10vw, 7rem);
    color: darkolivegreen;
    line-height: .75;
}
.LogoBox:hover span{
    display: none;
}
