*{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: darkolivegreen;
    fill: #4c7245;
    background-color: #c4c7f5;
    stroke: #000000;
    stroke-width: 1;
}
p{
    color:#121b11
}
.worldMap{
    width: 100vw;
    justify-content: center;
    display: grid;
    padding-top: 12px;
}
.map{
    min-width: 1009.6727px;
    min-height: 665.96301px;
    margin: 0 auto;
}
.modal{
    background: none;
}
.modal-dialog{
    border-radius: 8px;
}
.modal-body{
    background-color: aliceblue;
}

.countryHover:hover{
    fill: #2f462b;
}
