*{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: darkolivegreen;
}
p{
    color:#121b11
}
.worldMap{
    width: 100vw;
    justify-content: center;
    display: grid;
}
.map{
    min-width: 1009.6727px;
    min-height: 665.96301px;
    margin: 0 auto;
}
*{
    fill: #4c7245;
    background-color: #c4c7f5;
    stroke: #000000;
    stroke-width: 1;
}
#AF:hover{
    fill: blueviolet;
}
#CA:hover{
    fill: #5e2424;
}
#US:hover{
    fill: #b8cae2;
}
#GB:hover{
    fill: #243d5e
}
